In [1]:
# Import libraries
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
import os
from shutil import unpack_archive
import numpy as np
from google.colab import files
from google.colab import drive
from keras.preprocessing import image

# Dataset Eksploratory

In [2]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
gdrive_path = '/content/gdrive/MyDrive/MLT2D/Demo Day/data'

In [7]:
data1 = pd.read_csv('/content/gdrive/MyDrive/MLT2D/Demo Day/data/train_solution_bounding_boxes.csv')
data2 = pd.read_csv('/content/gdrive/MyDrive/MLT2D/Demo Day/data/sample_submission.csv')

In [9]:
data1.head()

             image        xmin        ymin        xmax        ymax
0   vid_4_1000.jpg  281.259045  187.035071  327.727931  223.225547
1  vid_4_10000.jpg   15.163531  187.035071  120.329957  236.430180
2  vid_4_10040.jpg  239.192475  176.764801  361.968162  236.430180
3  vid_4_10020.jpg  496.483358  172.363256  630.020260  231.539575
4  vid_4_10060.jpg   16.630970  186.546010  132.558611  238.386422

In [10]:
data2.head()

             image                           bounds
0  vid_5_26560.jpg  0.0 0.0 1.0 1.0 0.0 0.0 1.0 1.0
1  vid_5_26580.jpg  0.0 0.0 1.0 1.0 0.0 0.0 1.0 1.0
2  vid_5_26600.jpg                  0.0 0.0 1.0 1.0
3  vid_5_26620.jpg                  0.0 0.0 1.0 1.0
4  vid_5_26640.jpg                  0.0 0.0 1.0 1.0

In [11]:
data1.corr()

          xmin      ymin      xmax      ymax
xmin  1.000000 -0.732405  0.981242 -0.391022
ymin -0.732405  1.000000 -0.740397  0.282968
xmax  0.981242 -0.740397  1.000000 -0.238507
ymax -0.391022  0.282968 -0.238507  1.000000

AttributeError: ignored